<footer>
<div class="card text-center text-danger bg-dark">
	<div class="card-body">
		<p class="card-text">Informations légales</h5>
		<p class="card-text">Politique de confidentialités.</p>
		<a href="{{ path('app_opinion_page_index')}}" class="text-danger link-hover link-warning">Avis</a>
		<p>© Copyright 2024. Tous droits réservés Garage Parrot.</p>
	</div>
</div>
</footer>