<footer>
	<section class="footer-custom">
		<a href="{{ path('app_opinion_page_index')}}" class="text-danger link-hover link-warning mt-2">Avis</a>
		<p class="card-text">Informations légales</h5>
		<p class="card-text">Politique de confidentialités.</p>
		<p class="text-danger">© Copyright 2024. Tous droits réservés Garage Parrot.</p>
	</section>
</footer>