@use "../abstract/_all" as abstract
@use "../base/_custom" as custom
@use "../base/_typos" 
@use "../base/_flux"

.card-car
    display: flex
    flex-direction: column
    justify-content: center
    box-shadow: 1px 1px 20px -3px custom.$dark
    border-radius: 1rem 1rem 1rem 1rem
    max-width: 80%
    margin-bottom: 5rem
    outline: solid 0.7rem
    outline-color: custom.$danger
    margin-top: 5rem


    &__title
        @extend %title-2
        color: custom.$danger
        text-decoration: underline
        text-underline-offset: 0.5rem
        text-decoration-color: custom.$dark
        margin-top: 5rem
        margin-bottom: 1rem
        text-align: center
        

    &__text
        margin-top: 2rem
        @include abstract.d-flex(column, center, center)
        color: custom.$danger
        @extend %title-2

.cars
    @include abstract.d-flex(column, center, center)

    &__image
        max-width: 18rem


.car-btn
    display: flex
    align-items: center
    justify-content: center
    margin-top: 1rem
    margin-bottom: 1rem
    box-shadow: 1px 1px 20px -3px custom.$dark
    border-radius: 2px
    padding: 5px
    outline: solid 0.1rem
    outline-color: custom.$dark
    background: custom.$danger
    color: custom.$light

    &:hover
        background: custom.$dark

.carimage
    width: 100%