<section class="opinion-new__flux">
{{ form_start(form, {'attr': {'class': 'opinion-new'}}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</section>
