{% extends 'base.html.twig' %}

{% block title %}Edit Opinions{% endblock %}

{% block body %}
    <h1 class="opinion-show--title">Rédigez votre opinion</h1>

    {{ include('opinions/_form.html.twig', {'button_label': 'Update'}) }}
<div class="opinion-new">
    <a class ="opinion-show__buton" href="{{ path('app_opinion_page_index') }}">Retour sur la page</a>
</div>
{% endblock %}
