{% block body %}

    {% for cars_page in cars_pages %}

        <section class="car-page">
            <section class="car-page__title">
                <h1>{{ cars_page.title }}</h1>
            </section>
            <section class="car-page__text">
                <p>{{ cars_page.carPresentationText }}</p>
            </section>
        </section>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="car-page">
                <a class="buton" href="{{ path('app_cars_page_edit', {'id': cars_page.id}) }}">Modifier la page</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}