{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}

    {% for contact_page in contact_pages %}

        <section class="contact_page">
            <section class="contact-page__title">
                <h1>{{ contact_page.title }}</h1>
            </section>
            <section class="contact-page">
                <p class="contact-page__text">{{ contact_page.textPresentation }}</p>
            </section>
        </section>
    <section class="contact-page">
        <img src="{{ asset('images/garage-ancien.jpg')}}" class="picture-contact-page" alt="photo-atelier">
        <div class="contact-page__text contact-page">
            {% include "form_contact/index.html.twig" %}
        </div>
    </section>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="contact-page">
            <a class="buton" href="{{ path('app_contact_page_edit', {'id': contact_page.id}) }}">Modifier la page</a>
        </div>
        {% endif %}
    {% endfor %}
    <section class="openningGarageSection">
        {% include "openning_garage/index.html.twig" %}
    </section>
{% endblock %}
