<section class='no-car-found'>
    <h2 class='no-car-found--title'>Aucune voiture trouvée</h2>
    <p class='no-car-found--info'>Aucune voiture correspond à votre recherche n'a été trouvée.<br> Veuillez modifier votre recherche.</p>
</section>