<section class='no-car-found'>
    <h2 class='no-car-foundtitle'>Aucune voiture trouvée</h2>
    <p class='no-car-foundinfo'>Aucune voiture correspond à votre recherche n'a été trouvée.<br> Veuillez modifier votre recherche.</p>
</section>