{% extends 'base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block body %}
    <h1>Creer nouvelle voiture </h1>

    {{ include('cars/_form.html.twig') }}

    <a href="{{ path('app_cars_index') }}">Retour</a>
{% endblock %}
